nav button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display is row by default */
}

nav li {
    margin: 10px;
}

.isOpen ul {
    display: flex; /* Ensure menu displays in row */
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    nav button {
        display: block; /* Show the button on smaller screens */
    }

    nav ul {
        display: none; /* Hide the menu by default on smaller screens */
        flex-direction: column; /* Stack items vertically */
    }

    .isOpen nav ul {
        display: flex; /* Show the menu when isOpen is true */
        flex-direction: column; /* Ensure items stack vertically when open */
    }
}