.App {
  text-align: center;
}

.App-header {
  background-color: #7e1526;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color: white;
}

.App-link {
  color: #61dafb;
}

.burger-card {
  border: 1px solid #C41E3A;
  border-radius: 8px;
  padding: 8px;
  margin: 16px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menu_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
}

nav {
  background-color: #C41E3A;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-size: x-large;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .App-header {
    display: none;
  }
}